html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('sfondo.png') center center no-repeat;
    background-size: cover;  
    background-color: #87ceeb; 
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent; 
}
